<div *ngIf="isLoggedIn">
  <div class="bg-[#ebf2ff] min-h-screen" style="padding-top: 7%;">
    <div class="w-full flex justify-start text-2xl font-medium text-gray-700 mx-8 mt-4 mb-6">
      Ajouter un équipement dans <a [routerLink]="'/zone-details/'+localId" class="hover:underline font-bold ml-2">{{localName}}</a>
    </div>

    <div class="bg-white shadow-md rounded-lg mx-auto overflow-y-auto custom-scrollbar my-4 p-8" style="width: 95%">
      <div class="flow-root">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">

          <form action="#" class="space-y-4" style="width: 60%;">
            <div class="flex w-full">
              <div class="w-full">
                <label for="" class="block mb-2 text-sm font-medium text-gray-900 ">{{'ajoutC1.nom' |
                  translate}}</label>
                <input [(ngModel)]="nom" placeholder="{{'ajoutC1.nom' | translate }}" type="text" id="nom" name="nom"
                  class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
              </div>
            </div>

            <div>
              <label for="" class="block mb-2 text-sm font-medium text-gray-900 ">{{'ajoutC1.criticite' |
                translate}}</label>
              <div class="flex gap-2 items-center font-medium my-3 ml-8">
                <input type="radio" name="categorie" id="" value="critique" [(ngModel)]="categorie"
                  class="hover:shadow-md">
                <label for="">Oui</label>
              </div>
              <div class="flex gap-2 items-center font-medium my-3 ml-8">
                <input type="radio" name="categorie" id="" value="normal" [(ngModel)]="categorie"
                  class="hover:shadow-md">
                <label for="">Non</label>
              </div>
            </div>

            <div class="flex w-full">
              <div class="w-full">
                <label for="" class="block mb-2 text-sm font-medium text-gray-900 ">{{'ajoutC1.puissance' |
                  translate}}</label>
                <input [(ngModel)]="puissance" placeholder="{{'ajoutC1.puissance' | translate }}" type="number"
                  id="puissance" name="puissance"
                  class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
              </div>
            </div>

            <div class="mt-4 flex justify-between">
              <button type="button" (click)="goBack()"
                class="hover:shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 "
                style="color: transparent; background-image: linear-gradient(109.6deg, rgb(138, 89, 226) -19.8%, rgb(87, 27, 226) 91.7%);  background-clip: text; border: 1px solid #5b20e2;">
                <i class="fa-solid fa-chevron-left mr-2"></i>
                <span> {{'ajoutC1.title26' | translate}}</span>
              </button>
              <button type="submit" (click)="ajouterEquipement()"
                class="text-white border border-blue-500 bg-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                style="color: white; background-image: linear-gradient(109.6deg, rgb(138, 89, 226) -19.8%, rgb(87, 27, 226) 91.7%);">
                {{'ajoutC1.title12' | translate}}
              </button>
            </div>

          </form>


        </dl>
      </div>
    </div>
  </div>
</div>