<!-- <footer class="bg-gray-800 text-white py-4 mt-auto">
   



    <div class="mx-auto flex max-w-screen-xl flex-col   text-center bg-gray-800 text-white  lg:flex-row lg:justify-between lg:text-left ">
      <p class="">© {{'footer.title1' |translate }}</p>
      <p class="">Made  by  Zeineb ❤️ Ibtissem</p>
      
    </div>
  
</footer> -->
<footer class="bg-gray-800 text-white py-4 mt-auto">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; 2024 SmartHospital. Tous droits réservés  Zeineb ❤️ Ibtissem</p>
    </div>
</footer>


<!--
    <div class="flex flex-col min-h-screen">
    <main class="flex-grow">
      
    </main>
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 hospitalSmart. All rights reserved.</p>
        </div>
    </footer>
</div>
-->