<footer class="bg-gray-800 text-white py-4 mt-auto">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; {{'footer.title1' |translate }}</p>
    </div>
</footer>



<!--
    <div class="flex flex-col min-h-screen">
    <main class="flex-grow">
      
    </main>
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 hospitalSmart. All rights reserved.</p>
        </div>
    </footer>
</div>
-->