 
<div *ngIf="isLoggedIn">
<app-header></app-header>
<section class="bg-gray-100 bg-no-repeat bg-cover" style="background-image: url('assets/Medical-Devices1.jpg');">
  <!--style="background-image: url('assets/Medical-Devices.jpg');"-->
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">

    <div class="w-full flex justify-center">
      <div class="relative inline-block mb-12 text-center">
        <span class="text-2xl md:text-2xl font-bold">
          {{'ajoutC1.title1' | translate }}  </span>
        <span class="mt-4 absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-blue-500 via-blue-400 to-green-500 rounded-full"></span>
      </div>
    </div>

      <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12 m-auto w-3/5">
        
        <div class="w-full mb-8 flex flex-col">
            <h1 class="w-full text-center md:text-2xl">  {{'ajoutC1.title13' | translate }} 
            </h1>
            <h1 class="text-center text-2xl md:text-3xl font-bold ">
              <span class="inline-block bg-gradient-to-r from-blue-500 to-green-400 text-transparent bg-clip-text">Etage</span>
            </h1>
        </div>

        <form action="#" class="space-y-4">
          <div>
            <label class="sr-only" for="floorSurface">  {{'ajoutC1.title14' | translate }} 
            </label>
            <input
              [(ngModel)]="floorSurface" name="floorSurface"
              class="w-full rounded-lg border-blue-500 p-3 text-sm"
              placeholder=" {{'ajoutC1.title14' | translate }}"
              type="text"
              id="floorSurface"
            />
          </div>

         
      
      
        
          
   
          <div class="mt-4">
            <button
              type="submit"
              class="inline-block w-full rounded-lg bg-blue-500 px-5 py-3 font-medium text-white sm:w-auto"
              (click)="ajouterEtage()"
            >
            {{'ajoutC1.title12' | translate }} 
            </button>
          </div>
        </form>
      </div>


  </div>
</section>
</div>


