
<section class="flex flex-col items-center pt-6">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">{{'sign.title8' | translate}}</h1>
        <div class="space-y-4 md:space-y-6">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.title1' | translate}}</label>
            <input  [(ngModel)] = "register.username" placeholder="{{'login.title1' | translate}} " class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
          </div>
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.title2' | translate}}</label>
            <input  [(ngModel)] = "register.first_name" placeholder="{{'login.title2' | translate}} "  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
          </div>
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.title3' | translate}}</label>
            <input  [(ngModel)] = "register.last_name" placeholder="{{'login.title3' | translate}} " class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.title4' | translate}}</label>
            <input  [(ngModel)] = "register.password" placeholder="{{'login.title4' | translate}} " type="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
          </div>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.title5' | translate}}</label>
            <input  [(ngModel)] = "register.email" placeholder="{{'login.title5' | translate}} " class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
          </div>
          <div>
            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.title6' | translate}}</label>
            <select [(ngModel)]="role" id="role" name="role" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                <option value="Moyen generaux">{{'login.title7' | translate}}</option>
                <option value="Responsable de maintenance">{{'login.title8' | translate}}</option>
                <option value="Responsable de l'hopital">{{'login.title9' | translate}}</option>
                <!-- Ajoutez d'autres options selon vos besoins -->
            </select>
        </div>
        
          <button (click)="registerUser()" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" routerLink="/signup">Register User</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">{{'login.title10' | translate}} <a
              class="font-medium text-blue-600 hover:underline dark:text-blue-500" routerLink="/">{{'login.title11' | translate}}</a>
          </p>
        </div>
      </div>
    </div>
  </section>