<!-- <div class="w-full max-w-screen-xl mx-auto mb-4">
  <div class="flex justify-center p-4 px-3">
    <div class="w-full bg-white  rounded-lg shadow-md ">
      <div class="flex row flex-wrap py-2 mb-4">
        <div class="block py-2 w-full">
          <div class="text-gray-700 text-lg font-semibold pl-4">
            Température et Humidité moyenne /h
            <div class="flex justify-center p-4 px-3">
              
              <select class="filter-dropdown" (change)="selectFilter($event)">
                <option value="moyenne par jour">Moyenne par jour</option>
                <option value="moyenne par mois">Moyenne par mois</option>
                <option value="actuel">Actuel</option>
              </select>
              
            </div>
            <section style="max-height: 700px;" class="overflow-y-auto custom-scrollbar">
            <div *ngIf="selectedFilter === 'moyenne par mois'">
             
                <p>Contenu pour la moyenne par mois</p>
                <section style=" max-height: 700px; " >
                  <div *ngFor="let batiment of batiments">
                    <div class="flex gap-1 py-2 bg-gradient-to-r from-[#571be2] to-[#571be2] text-transparent bg-clip-text pl-4">
                      <i class="fa-solid fa-building fa-lg mr-2 flex items-center text-gray-700"></i>
                      <span style="font-size: 17px; font-weight: bold; padding: 2% 2%;" class="">{{batiment.nomBatiment}}</span>
                    </div>
                    shhhhhhhhhh{{this.localsH}}
                    <br>
                    thhhhhhhhhhhh {{this.localsT}}
                    <div *ngFor="let etage of batiment.etages" class=" pl-4" style="font-size: 14px; font-weight: bold;">
                      <div class="flex gap-1 py-2">
                        <i class="fa-solid fa-stairs fa-lg mr-2 "></i>
                        <span class="text-gray-700" style="font-size: 13px;">{{etage.nomEtage}}</span>
                      </div>
                      <div *ngFor="let local of etage.zones" class="pl-4 flex justify-between items-center pr-2 rounded-md cursor-pointer text-gray-700 hover:font-medium hover:text-[#571be2] hover:bg-[#fbfaff]"
                        [routerLink]="['/zone-details', local.id]"
                        style="font-size: 12px; font-weight: normal;">
                        <span class="flex gap-1 py-2" style="width: 50%;">
                  <span style="font-size: 11px;">{{local.nomLocal}}</span>
                        </span>
                       <!--  <span *ngIf="localsT[local.id-1] !== null">{{localsT[local.id-1]}} °C</span>
                        <span *ngIf="localsH[local.id-1] !== null">{{localsH[local.id-1]}} %</span>
       --><!--
                      </div>
      
                    </div>
                  </div>
                </section>
      
              </div>
              
              <div *ngIf="selectedFilter === 'moyenne par jour'">
              
                <p>Contenu pour la moyenne par jour</p>
                <section style=" max-height: 700px; " >
                  <div *ngFor="let batiment of batiments">
                    <div class="flex gap-1 py-2 bg-gradient-to-r from-[#571be2] to-[#571be2] text-transparent bg-clip-text pl-4">
                      <i class="fa-solid fa-building fa-lg mr-2 flex items-center text-gray-700"></i>
                      <span style="font-size: 17px; font-weight: bold; padding: 2% 2%;" class="">{{batiment.nomBatiment}}</span>
                    </div>
      
                    <div *ngFor="let etage of batiment.etages" class=" pl-4" style="font-size: 14px; font-weight: bold;">
                      <div class="flex gap-1 py-2">
                        <i class="fa-solid fa-stairs fa-lg mr-2 "></i>
                        <span class="text-gray-700" style="font-size: 13px;">{{etage.nomEtage}}</span>
                      </div>
                      <div *ngFor="let local of etage.zones" class="pl-4 flex justify-between items-center pr-2 rounded-md cursor-pointer text-gray-700 hover:font-medium hover:text-[#571be2] hover:bg-[#fbfaff]"
                        [routerLink]="['/zone-details', local.id]"
                        style="font-size: 12px; font-weight: normal;">
                        <span class="flex gap-1 py-2" style="width: 50%;">
                        <span style="font-size: 11px;">{{local.nomLocal}}</span>
                        </span>
                        <span *ngIf="localsT1[local.id-1] !== null">{{localsT1[local.id-1]}} °C</span>
                        <span *ngIf="localsH1[local.id-1] !== null">{{localsH1[local.id-1]}} %</span>
      
                      </div>
      
                    </div>
                  </div>
                </section>
      
              </div>
              <div *ngIf="selectedFilter === 'actuel'">
                
                <p>Contenu pour les données actuelles</p>
                <section style=" max-height: 700px; " >
                  <div *ngFor="let batiment of batiments">
                    <div class="flex gap-1 py-2 bg-gradient-to-r from-[#571be2] to-[#571be2] text-transparent bg-clip-text pl-4">
                      <i class="fa-solid fa-building fa-lg mr-2 flex items-center text-gray-700"></i>
                      <span style="font-size: 17px; font-weight: bold; padding: 2% 2%;" class="">{{batiment.nomBatiment}}</span>
                    </div>
      
                    <div *ngFor="let etage of batiment.etages" class=" pl-4" style="font-size: 14px; font-weight: bold;">
                      <div class="flex gap-1 py-2">
                        <i class="fa-solid fa-stairs fa-lg mr-2 "></i>
                        <span class="text-gray-700" style="font-size: 13px;">{{etage.nomEtage}}</span>
                      </div>
                      <div *ngFor="let local of etage.zones" class="pl-4 flex justify-between items-center pr-2 rounded-md cursor-pointer text-gray-700 hover:font-medium hover:text-[#571be2] hover:bg-[#fbfaff]"
                        [routerLink]="['/zone-details', local.id]"
                        style="font-size: 12px; font-weight: normal;">
                        <span class="flex gap-1 py-2" style="width: 50%;">
                     <span style="font-size: 11px;">{{local.nomLocal}}</span>
                        </span>
                        <span *ngIf="localsT2[local.id-1] !== null">{{localsT2[local.id-1]}} °C</span>
                        <span *ngIf="localsH2[local.id-1] !== null">{{localsH2[local.id-1]}} %</span>
      
                      </div>
      
                    </div>
                  </div>
                </section>
      
              </div> 
            </section>
            
          </div>

       

        </div>
      </div>
    </div>
  </div>
</div>
 -->