<div class="w-8/9 max-w-screen-xl bg-white m-4 shadow-md rounded-lg ">
  <div class="flex justify-center">
    <div class="w-full">
      <div class="flex row flex-wrap g-white  px-3 py-2 mb-4">
        <div class="block py-2 px-2 w-full flex row items-center justify-between">
          <div class="text-gray-700 text-lg font-semibold">
            Consommation dans les locaux
          </div>
        </div>

        <div class="flex w-full overflow-x-auto custom-scrollbar" style="flex-wrap: nowrap;">

          <div *ngFor="let batiment of batiments" [ngClass]="['rounded-md', 'shadow-md', 'm-4', 'w-full', 'p-4', 'bg-'+bgColorBatiments[batiment.id%5] ]" >
            <div class="w-full mb-4 font-medium text-lg text-center" [ngClass]="['text-'+titleColors[batiment.id%5] ]">Batiment {{batiment.id}} : {{batiment.nomBatiment}}</div>
            <div class="w-full flex" [id]="'charts-container'+batiment.id">


              <div *ngFor="let etage of batiment.etages" id="whiteContainer" class="p-4 rounded-sm shadow-sm bg-white" [ngClass]="[ 'border', 'border'+this.titleColors[batiment.id%5] ]">
                <div [id]="'label-etage-'+etage.id" class="w-full m-2 text-center font-medium" [ngClass]="'text-'+this.titleColors[batiment.id%5]">
                  Etage {{etage.id}} : {{etage.nomEtage}}
                </div>
                <div [id]="'etage-'+etage.id" style="min-width: 300px; ">

                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>