<div *ngIf="page!='dashboard2'">

  <div class="w-full flex justify-start text-2xl font-medium text-gray-700 mx-8 mt-4 mb-6" style="padding-top: 7%;">
    Alerte N° {{thisAlerte.id}}
  </div>

  <div class="bg-white shadow-md rounded-lg mx-auto overflow-y-auto custom-scrollbar my-4 p-8" style="width: 95%" >
    <div class="flow-root">
      <dl class="-my-3 divide-y divide-gray-100 text-sm">
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">{{'alerte.title1' | translate }}</dt>
          <dd class="font-medium text-gray-700 sm:col-span-2">{{ this.thisAlerte.id }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">{{'ajoutC1.title7' | translate }}</dt>
          <dd class="font-medium text-gray-700 sm:col-span-2">Alerte de {{ this.thisAlerte.type }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">{{'ajoutC1.title11' | translate }}</dt>
          <dd class="font-medium text-gray-700 sm:col-span-2">
            <div style="display: flex; align-items:center; justify-content: flex-start;" *ngIf="batiment && etage && local">
              Batiment {{this.batiment.id}} {{batiment.nomBatiment}}<i class="fa-solid fa-chevron-right fa-sm mx-2"></i>
              Etage {{etage.id}} : {{etage.nomEtage}} <i class="fa-solid fa-chevron-right fa-sm mx-2"></i>
              <a [routerLink]="'/zone-details/' + thisAlerte.localId" class="text-blue-700 hover:underline">
                Local {{local.id}} : {{local.nomLocal}}
              </a>
            </div>
          </dd>
        </div>


        <div *ngIf="this.thisAlerte.text" class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">{{'alerte.title2' | translate }}:</dt>
          <dd class="font-medium text-gray-700 sm:col-span-2">
            {{ this.thisAlerte.text }}
          </dd>
        </div>


      </dl>
    </div>
    <!-- Ajoutez d'autres détails de la zone ici selon vos besoins -->

    <div *ngIf="!(this.roleUser=='Responsable de maintenance')">

      <form *ngIf="thisAlerte.type=='temperature' || thisAlerte.type=='humidite' ||thisAlerte.type=='surConsommation' ">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">{{'alerte.title4' | translate }}
          </label>
        <select id="Rid" [(ngModel)]="Rid" name="Rid"
          class="w-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
          <option selected disabled></option>
          <option *ngFor="let R of responsables_maintenance" [value]="R.id">{{R.id}} {{R.username}}</option>
        </select>

        <label for="message">{{'alerte.title3' | translate }} </label>
        <input type="text" id="message">
        <button type="button" (click)="sendNotification(thisAlerte.id)">{{'alerte.title5' | translate }}</button>
      </form>
    </div>

    <div *ngIf="this.roleUser=='Responsable de maintenance' && (!this.rapport || this.rapport.length==0)"  >
      <button [routerLink]="'/rediger-rapport/'+ thisAlerte.id"
      class="text-sm font-medium shadow-sm px-3 py-2 rounded-md hover:shadow-lg my-6"
      style="color: white; background-image: linear-gradient(109.6deg, rgb(138, 89, 226) -19.8%, rgb(87, 27, 226) 91.7%);"
      >
        Rédiger le rapport de maintenance
      </button>
    </div>

    <div *ngIf="this.roleUser=='Responsable de maintenance' && this.rapport.length>0">
      <button [routerLink]="'/rapport-details/'+ thisAlerte.id"
        class="text-sm font-medium shadow-sm px-3 py-2 rounded-md hover:shadow-lg my-6"
        style="color: white; background-image: linear-gradient(109.6deg, rgb(138, 89, 226) -19.8%, rgb(87, 27, 226) 91.7%);">
        Consulter le rapport de maintenance
      </button>
    </div>

  </div>

</div>