

<section id="accueil" class="relative bg-[url(assets/acc-bg.jpg)] bg-cover bg-center bg-no-repeat">
  <div class="absolute inset-0 bg-gradient-to-r from-white/95 to-white/25"></div>

  <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
    <div class="max-w-xl ltr:sm:text-left rtl:sm:text-right mb-4">
      <h1 class="text-3xl font-extrabold sm:text-5xl" style="font-family: Inter,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;">
        <strong class="block font-extrabold" style="color: #c41f5a;">
          {{'Acceuil.title' | translate}} 
        </strong>
        <strong class="block font-extrabold my-6 text-[#18577a]">
          {{'Accueil.title2' | translate}} 
        </strong>
      </h1>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a  routerLink="/login" class="block w-full rounded bg-[#18577a] px-12 py-3 text-sm font-medium text-white shadow hover:[#18577a] focus:outline-none focus:ring active:bg-[#18577a] sm:w-auto">
          {{'Acceuil.title1' | translate}}  <i class="fa-solid fa-chevron-right ml-4"></i>
        </a>

        <a href="#infos" class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-[#c41f5a] shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto">
          {{'Acceuil.title3' | translate}} 
        </a>
      </div>
    </div>

    
  </div>
  
</section>
