<div *ngIf="isLoggedIn">
  <app-header></app-header>
  <!--<app-consumption-evolution></app-consumption-evolution>

  <mat-divider></mat-divider>
  <div class="flex justify-around">
    <div id="pie-container" style="width: 45%; height: 400px;"></div>
    <div id="bars-container" style="width: 45%; height: 400px;"></div>
  </div>
  <div id="pie-surfaces" style="width: 45%; height: 400px;"></div>
  <highcharts-chart [Highcharts]="Highcharts" [options]="consommationChartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
-->
 <!--  <div id="container" style="height: 500px; width: 500px"></div> -->
  <!--<div id="EConsommation"></div> -->




<!--Liste des equipements-->


<br><br><br>
<app-buildings-consumption></app-buildings-consumption>
<app-equipements-list></app-equipements-list>

</div>


<!--<div *ngIf="isLoggedIn">
  <app-header></app-header>
  <div>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
  </div>

  <mat-divider></mat-divider>
  <div class="flex justify-around">
    <div id="pie-container" style="width: 45%; height: 400px;"></div>
    <div id="bars-container" style="width: 45%; height: 400px;"></div>
  </div>
  <div id="pie-surfaces" style="width: 45%; height: 400px;"></div>
  <highcharts-chart [Highcharts]="Highcharts" [options]="consommationChartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>


  <div id="EConsommation"></div>


 
<div class="w-full max-w-screen-xl mx-auto px-6">
  <div class="flex justify-center p-4 px-3 py-10">
      <div class="w-full max-w-md">
          <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
              <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
                  Consommation énergétique des équipements
              </div>

            
              <div>
                <div class="mx-auto items-center justify-center bg-gray-200">
                  <div class="group relative cursor-pointer">

                      <div class="flex items-center justify-between space-x-5 bg-white">
                          <a class="menu-hover my-2 py-2 text-base font-medium text-black lg:mx-4 text-sm" onClick="">
                            Selectionner par batiment
                          </a>
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                  stroke="currentColor" class="h-6 w-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                              </svg>
                          </span>
                      </div>

                      <div
                          class="invisible absolute z-50 flex w-full flex-col bg-gray-100 py-1 px-4 text-gray-800 shadow-xl group-hover:visible">

                          <fieldset>
                            <legend class="sr-only">Checkboxes</legend>

                            <div class="space-y-2">
                              <label *ngFor="let batiment of batiments"
                                for="Option1"
                                class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-200 p-2 transition hover:bg-gray-50 has-[:checked]:bg-blue-50"
                              >
                                <div class="flex items-center">
                                  &#8203;
                                  <input type="checkbox"
                                    class="size-4 rounded border-gray-300"
                                    [value]="batiment.id"
                                    (change)="onBatimentsCheckboxChange($event, batiment.id)"
                                  >
                                </div>

                                <div>
                                  <strong class="font-medium text-gray-900 text-xs"> {{batiment.nomBatiment}} </strong>
                                </div>
                              </label>

                            </div>
                          </fieldset>
                      </div>
                  </div>
              </div>



              </div>


             
              <div>
                <div class="mx-auto items-center justify-center bg-gray-200">
                  <div class="group relative cursor-pointer">

                      <div class="flex items-center justify-between space-x-5 bg-white">
                          <a class="menu-hover my-2 py-2 text-base font-medium text-black lg:mx-4 text-sm" onClick="">
                            Selectionner par etages
                          </a>
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                  stroke="currentColor" class="h-6 w-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                              </svg>
                          </span>
                      </div>

                      <div
                          class="invisible absolute z-50 flex w-full flex-col bg-gray-100 py-1 px-4 text-gray-800 shadow-xl group-hover:visible">

                          <fieldset>
                            <legend class="sr-only">Checkboxes</legend>

                            <div class="space-y-2">
                           
                              <section *ngFor="let section of choisirEtages">
                                <div>{{section.batimentId}}</div>

                                <label
                                  for="Option1"
                                  class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-200 p-2 transition hover:bg-gray-50 has-[:checked]:bg-blue-50"
                                >
                                  <div class="flex items-center">
                                    &#8203;
                                    <input type="checkbox"
                                      class="size-4 rounded border-gray-300"
                                    >
                                  </div>

                                  <div>
                                    <strong class="font-medium text-gray-900 text-xs">{{getBatimentById(section[0].batimentId).nomBatiment}}</strong>
                                  </div>
                                </label>

                              </section>

                            </div>
                          </fieldset>
                      </div>
                  </div>
              </div>



              </div>


            
              <div class="flex items-center bg-gray-200 rounded-md mb-2">
                <div class="pl-2">
                    <svg class="fill-current text-gray-500 w-6 h-6"
                        viewBox="0 0 24 24">
                        <path class="heroicon-ui"
                            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                    </svg>
                </div>
                <input
                  class="w-full rounded-md bg-gray-200 text-gray-700 leading-tight focus:outline-none py-2 px-2"
                  id="search" type="text" placeholder="Chercher un équipement" [(ngModel)]="EquipementAChercher"
                >
              </div>
            
              <div class="overflow-y-auto max-h-64 custom-scrollbar">

                  <div class="py-3 text-sm">
                    <div *ngIf="this.EquipementsLoading == true">
                      <div aria-label="Loading..." role="status" class="flex flex-col items-center space-x-2">
                        <svg class="h-8 w-8 animate-spin stroke-gray-500 m-2" viewBox="0 0 256 256">
                            <line x1="128" y1="32" x2="128" y2="64" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                            <line x1="195.9" y1="60.1" x2="173.3" y2="82.7" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="24"></line>
                            <line x1="224" y1="128" x2="192" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
                            </line>
                            <line x1="195.9" y1="195.9" x2="173.3" y2="173.3" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="24"></line>
                            <line x1="128" y1="224" x2="128" y2="192" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
                            </line>
                            <line x1="60.1" y1="195.9" x2="82.7" y2="173.3" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="24"></line>
                            <line x1="32" y1="128" x2="64" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                            <line x1="60.1" y1="60.1" x2="82.7" y2="82.7" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
                            </line>
                        </svg>
                        <div class="text-xs font-medium text-gray-500">Chargement des équipement en cours...</div>
                      </div>
                    </div>

                    <div *ngIf="this.EquipementsLoading == false">
                      <div *ngFor="let equip of this.equipements" class="" style="min-height: 0;">
                        <div *ngIf="(this.EquipementAChercher && equip.nom.toLowerCase().startsWith(this.EquipementAChercher.toLowerCase())) || (!this.EquipementAChercher)" class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-2 py-2 my-2" >
                          <span *ngIf="equip.etat=='ON'" class="bg-green-400 h-2 min-w-2 m-2 rounded-full"></span>
                          <span *ngIf="equip.etat=='OFF'" class="bg-red-500 h-2 min-w-2 m-2 rounded-full"></span>
                          <div class="flex-grow font-medium px-2">{{equip.nom}}</div>
                          <div *ngIf="equip.consommation_totale_kW >= 0.01" class="text-sm font-normal text-gray-500 tracking-wide flex items-center justify-end" style="min-width: 100px;">
                            {{equip.consommation_totale_kW.toFixed(2)}} KW
                          </div>
                          <div *ngIf="equip.consommation_totale_kW < 0.01" class="text-sm font-normal text-gray-500 tracking-wide  flex items-center justify-end" style="min-width: 100px;">
                            {{equip.consommation_totale_W.toFixed(2)}} W
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="block bg-gray-200 text-sm text-right py-2 px-3 -mx-3 -mb-2 rounded-b-lg">

                  <button routerLink="/ajouterEquipement" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Ajouter un équipement
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>



</div> -->

