<div class="flex">

    <div class="w-1/2 bg-white m-4 shadow-md rounded-lg ">
  
      <div class="py-2 px-2 w-full flex row items-center justify-between">
        <div class="text-gray-700 text-lg font-semibold">
          Catégories des équipements 
        </div>
      </div>
  
      <div id="pie-container" style="height: 300px;"></div>
  
    </div>
    
    <div class="w-1/2 bg-white m-4 shadow-md rounded-lg ">
    
            <div class="py-2 px-2 w-full flex row items-center justify-between">
              <div class="text-gray-700 text-lg font-semibold">
                Equipements critiques / Equipements non critiques
              </div>
            </div>
    
            <div id="pie-container2" style="height: 300px;"></div>
  
    </div>
  
  </div>
  