

<div  class="bg-gradient-to-br from-blue-50 to-pink-50 w-full "style="padding-top: 7%;" >

  <div class="flex w-8/9 justify-between">
    <div class="bg-gradient-to-br from-blue-100 to-[#2caffe] m-4 py-6 rounded-lg shadow-medium" style="width: 200px; ">
      <div class="font-medium text-3xl text-white text-8 ml-4" *ngIf="batiments">{{batiments.length}}</div>
      <div class="text-lg font-medium text-white ml-4">Batiments</div>
    </div>

    <div class="bg-gradient-to-br from-pink-100 to-[#da00d3] m-4 py-6 rounded-lg shadow-medium" style="width: 200px; ">
      <div class="font-medium text-3xl text-white text-8 ml-4">{{locaux.length}}</div>
      <div class="text-lg font-medium text-white ml-4">Locaux</div>
    </div>

    <div class="bg-gradient-to-br from-orange-100 to-[#ffb253] m-4 py-6 rounded-lg shadow-medium" style="width: 200px; ">
      <div *ngIf="equipements" class="font-medium text-3xl text-white text-8 ml-4">
        <div>{{equipements.length}}</div>
      </div>
      <div class="text-lg font-medium text-white ml-4">Equipements</div>
    </div>

    <div class="bg-gradient-to-br from-[#ffcccc] to-[#ff0000] m-4 py-6 rounded-lg shadow-medium" style="width: 200px; ">
      <div class="font-medium text-3xl text-white text-8 ml-4">{{alertesTotal.length}}</div>
      <div class="text-lg font-medium text-white ml-4">Alertes</div>
    </div>
    

  </div>

  <div>
    <div class="flex items-center">

      <!-- Selectionner une période -->
      <form class="flex items-center text-gray-700 font-semibold mx-auto">
        <span class="flex items-center mx-4">Selectionner une période </span>
        <label for="dateDebut" class="flex items-center mx-2">De: </label>
        <input type="date" id="dateDebut" name="dateDebut" [(ngModel)]="dateDebut"
          class="mx-2 py-2 px-4 border border-2 border-transparent shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium rounded-lg">
        <input type="time" id="heureDebut" name="heureDebut" [(ngModel)]="heureDebut"
          class="mx-2 py-2 px-4 border border-2 border-transparent shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium rounded-lg">
        <label for="dateDebut" class="flex items-center mx-2">à: </label>
        <input type="date" id="dateFin" name="dateFin" [(ngModel)]="dateFin"
          class="mx-2 py-2 px-4 border border-2 border-transparent shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium rounded-lg">
        <input type="time" id="heureFin" name="heureFin" [(ngModel)]="heureFin"
          class="mx-2 py-2 px-4 border border-2 border-transparent shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium rounded-lg">
        <button type="button" id="refresh-button" (click)="LoadEquipements()"
          class="py-2 border border-2 border-transparent hover:opacity-95 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:pointer-events-none"
          style="background-image: linear-gradient(109.6deg, rgb(138, 89, 226) -19.8%, rgb(87, 27, 226) 91.7%);">
          <i id="refresh-icon" class="fa-solid fa-rotate-right" style="color: white;"></i>
        </button>
      </form>

      <!-- DATES WARNINGS -->
      <div id="dates-warning" class="w-full flex justify-start mt-2" style="display: none">
        <div
          class="mx-2 py-2 px-4 border border-2 border-red shadow focus:outline-none focus:shadow-outline text-red-700 text-xs rounded-lg"
          style="border: 1px solid #c91c1c;">
          <i class="fa-solid fa-circle-exclamation mr-2" style="color: #c91c1c;"></i>
          <span>
            Erreur : La date de début est ultérieure à la date de fin. Veuillez corriger les dates saisies.
          </span>
        </div>
      </div>

      <div id="dateDebut-missed" class="w-full flex justify-start mt-2" style="display: none">
        <div
          class="mx-2 py-2 px-4 border border-2 border-red shadow focus:outline-none focus:shadow-outline text-red-700 text-xs rounded-lg"
          style="border: 1px solid #c91c1c;">
          <i class="fa-solid fa-circle-exclamation mr-2" style="color: #c91c1c;"></i>
          <span>
            Erreur : Veuillez saisir la date de début de la période.
          </span>
        </div>
      </div>

      <div id="dateFin-missed" class="w-full flex justify-start mt-2" style="display: none">
        <div
          class="mx-2 py-2 px-4 border border-2 border-red shadow focus:outline-none focus:shadow-outline text-red-700 text-xs rounded-lg"
          style="border: 1px solid #c91c1c;">
          <i class="fa-solid fa-circle-exclamation mr-2" style="color: #c91c1c;"></i>
          <span>
            Erreur : Veuillez saisir la date de fin de la période.
          </span>
        </div>
      </div>
      <div id="dateFin-depasse" class="w-full flex justify-start mt-2" style="display: none">
        <div
          class="mx-2 py-2 px-4 border border-2 border-red shadow focus:outline-none focus:shadow-outline text-red-700 text-xs rounded-lg"
          style="border: 1px solid #c91c1c;">
          <i class="fa-solid fa-circle-exclamation mr-2" style="color: #c91c1c;"></i>
          <span>
            Erreur : La date de fin de la periode est superieru à la date actuelle.
          </span>
        </div>
      </div>


    </div>
    <div class="w-8/9 max-w-screen-xl bg-white m-4 shadow-md rounded-lg ">
      <div class="flex justify-center">
        <div class="w-full">
          <div class="flex row flex-wrap g-white  px-3 py-2 mb-4">
            <div class="block py-2 px-2 w-full flex row items-center justify-between">
              <div class="text-gray-700 text-lg font-semibold">
                Consommation totale de l'hôpital 
              </div>
            </div>
            <div class="flex w-full justify-center itels-center p-8 font-bold text-3xl text-[#7360e2]">
              {{Consommation_totale.toFixed(2)}} kWh
            </div>
          </div>
        </div>
      </div>
    </div>


   <app-buildings-consumption2 [equipementsParBatiment]="equipementsParBatiment" style="width: 100%"></app-buildings-consumption2>
    <app-locals-equipements [equipementsParLocal]="equipementsParLocal"></app-locals-equipements>
    <app-equipements-consommations [equipementsParLocal]="equipementsParLocal"></app-equipements-consommations>
    <app-categories-equipements [equipementsParCategorie]="equipementsParCategorie" [equipementsParCriticite]="equipementsParCriticite"></app-categories-equipements>
  <app-bar-chart [message]="sendData"></app-bar-chart>
    <app-consumption-evolution2 [total]="sendData"></app-consumption-evolution2> 
    <app-equipements-list2 style="width: 100%"></app-equipements-list2>
  
    <!-- <app-bar-chart></app-bar-chart>  -->
    <div *ngIf="AlerteMessage" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
<div class="fixed inset-0"></div>


<div class="fixed inset-0 z-10 w-screen overflow-y-auto">
<div class="flex items-end justify-center p-4 text-center sm:p-0">
  <div
    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all w-full max-w-lg">
    <div class="bg-white px-2 py-4">
      <div class="flex gap-2">

        <span class="text-green-600 m-1">
          <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>
        </span>
        <div class="flex-1">
          <strong class="block font-medium text-gray-900"> Attention! </strong>

          <p class="mt-1 text-sm text-gray-700">{{AlerteMessage}}</p>

          <div class="mt-4 flex gap-2">
            <button (click)="redirectToAlerteDetails(this.AlerteId)"
              class="inline-flex items-center gap-2 rounded-lg bg-[#dc2626] px-4 py-2 text-white hover:bg-[#b61c1c]">
              <span class="text-sm"> Voir plus </span>

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
              </svg>
            </button>

            <!-- <button class="block rounded-lg px-4 py-2 text-gray-700 transition hover:bg-gray-50">
                    <span class="text-sm elememm" (click)="alertHidden(this)">Masquer</span>
                  </button> -->
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
</div>

    </div>


  </div>

</div>
