<div *ngIf="isLoggedIn">
<app-header></app-header>
<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover"
    style="background-image:url('https://www.dreso.com/fileadmin/_processed_/8/7/csm_Smart_Hospital_Website_17a7cc1e84.jpg');">



    <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

        <!--Main Col-->
        <div id="profile"
            class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg shadow-2xl bg-white opacity-75 mx-6 mx-auto">


            <div class="p-4 md:p-12 text-center lg:text-left">
                <!-- Image for mobile view-->
                <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                    style="background-image: url('https://source.unsplash.com/MP0IUfwrn0A')"></div>

                <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{ user?.username }}</h1>
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-blue-500 opacity-25"></div>
                <p class="pt-6 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                  <i class="fa-solid fa-user h-4 fill-current text-blue-700 pr-4"></i> Lastname : <strong>{{ user?.lastname }}</strong>
              </p>

              <p class="pt-6 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                <i class="fa-solid fa-user h-4 fill-current text-blue-700 pr-4"></i> Firstname : <strong> {{ user?.firstname }}</strong> </p>

                <p class="pt-6 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <i class="fa-solid fa-envelope h-4 fill-current text-blue-700 pr-4"></i>
                        Your email : <strong> {{ user?.email }}</strong>
                </p>

                <div class="pt-12 pb-8">
                    <button class="bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-full "(click)="SeDeconnecter()">
				         Se deconnecter
				     </button>
                </div>


                <!-- Use https://simpleicons.org/ to find the svg for your preferred product -->

            </div>

        </div>




    </div>

    <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script>
        //Init tooltips
		tippy('.link',{
		  placement: 'bottom'
		})

		//Toggle mode
		const toggle = document.querySelector('.js-change-theme');
		const body = document.querySelector('body');
		const profile = document.getElementById('profile');


		toggle.addEventListener('click', () => {

		  if (body.classList.contains('text-gray-900')) {
			toggle.innerHTML = "☀️";
			body.classList.remove('text-gray-900');
			body.classList.add('text-gray-100');
			profile.classList.remove('bg-white');
			profile.classList.add('bg-gray-900');
		  } else
		  {
			toggle.innerHTML = "🌙";
			body.classList.remove('text-gray-100');
			body.classList.add('text-gray-900');
			profile.classList.remove('bg-gray-900');
			profile.classList.add('bg-white');

		  }
		});

    </script>

</body>
</div>


 <!--<div *ngIf="user">
    <h2>Profil utilisateur</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Nom:</strong> {{ user.lastname }}</p>
    <p><strong>Prénom:</strong> {{ user.firstname }}</p>
    <p><strong>email:</strong> {{ user.email }}</p>

  </div>
    <div>
      <label>Nom d'utilisateur:</label>
      <input type="text" [(ngModel)]="newUsername">
    </div>
    <div>
      <label>Prénom:</label>
      <input type="text" [(ngModel)]="newFirstname">
    </div>
    <div>
      <label>Nom de famille:</label>
      <input type="text" [(ngModel)]="newLastname">
    </div>
    <button type="button" (click)="updateProfile()">Enregistrer</button>
 -->