
<div *ngIf="isLoggedIn" style="padding-top: 7%;">
  <div *ngIf="this.role=='admin' || this.role=='Admin'" >

  <div class="flex bg-[#ebf2ff]">
    <div class="flex w-full">
      <div class=""  style="width: 100%">
        <div class="border-gray-200 border-dashed rounded-lg dark:border-gray-700 my-0 mx-8">
       <!--    <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                <div class="p-4 bg-green-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z">
                      </path>
                  </svg>
                </div>
                <div class="px-4 text-gray-700">
                    <h3 class="text-sm tracking-wider">{{'profile.title9'|translate}}</h3>
                    <p class="text-3xl">{{this.utilisateurs.length }}</p>
                </div>
            </div>

            <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
              <div class="p-8 bg-blue-400"><i class="fa-regular fa-bell fa-2xl" style="color: white"></i></div>
              <div class="px-4 text-gray-700">
                  <h3 class="text-sm tracking-wider">{{'profile.title10'|translate}}</h3>
                  <p class="text-3xl">{{this.alertes.length }}</p>
              </div>
            </div>
          <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
            <div class="p-4 bg-red-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4">
                </path>
              </svg>
            </div>
            <div class="px-4 text-gray-700">
                <h3 class="text-sm tracking-wider">Total rapports</h3>
                <p class="text-3xl">{{this.rapports.length }}</p>-->
                <!-- <p class="text-3xl">{{this.etages.length }}</p> --><!--
            </div>
          </div>
        </div> -->
        <div class="flex flex-wrap gap-x-4 gap-y-12 px-4 py-20 lg:px-5">
          <div class="flex w-72">
            <div class="flex w-full max-w-full flex-col break-words rounded-lg border border-gray-100 bg-white text-gray-600 shadow-lg">
              <div class="p-3">
                <div class="absolute -mt-10 h-16 w-16 rounded-xl bg-gradient-to-tr from-gray-700 to-gray-400 text-center text-white shadow-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mt-4 h-7 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                </div>
                <div class="pt-1 text-right">
                  <p class="text-sm font-light capitalize">{{'profile.title10'|translate}}</p>
                  <h4 class="text-2xl font-semibold tracking-tighter xl:text-2xl">{{this.alertes.length }}</h4>
                </div>
              </div>
              <hr class="opacity-50" />
            
            </div>
          </div>
          <div class="flex w-72">
            <div class="flex w-full max-w-full flex-col break-words rounded-lg border border-gray-100 bg-white text-gray-600 shadow-lg">
              <div class="p-3">
                <div class="absolute -mt-10 h-16 w-16 rounded-xl bg-gradient-to-tr from-blue-700 to-blue-500 text-center text-white shadow-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mt-4 h-7 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                </div>
                <div class="pt-1 text-right">
                  <p class="text-sm font-light capitalize">{{'profile.title9'|translate}}</p>
                  <h4 class="text-2xl font-semibold tracking-tighter xl:text-2xl">{{this.utilisateurs.length }}</h4>
                </div>
              </div>
              <hr class="opacity-50" />
             
            </div>
          </div>
          <div class="flex w-72">
            <div class="flex w-full max-w-full flex-col break-words rounded-lg border border-gray-100 bg-white text-gray-600 shadow-lg">
              <div class="p-3">
                <div class="absolute -mt-10 h-16 w-16 rounded-xl bg-gradient-to-tr from-emerald-700 to-emerald-500 text-center text-white shadow-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mt-4 h-7 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </div>
                <div class="pt-1 text-right">
                  <p class="text-sm font-light capitalize">Total rapport</p>
                  <h4 class="text-2xl font-semibold tracking-tighter xl:text-2xl">{{this.rapports.length }}</h4>
                </div>
              </div>
              <hr class="opacity-50" />
             
            </div>
          </div>
        </div>
        
          <div class="flex items-center justify-center h-100 mb-4 rounded bg-gray-50 dark:bg-gray-800">
            <div class="w-full">
              <div class="overflow-y-hidden rounded-lg border">
                <div class="overflow-x-auto">
                  <table class="w-full">
                    <thead>
                      <tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
                        <th class="px-5 py-3">ID</th>
                        <th class="px-5 py-3">Full Name</th>
                        <th class="px-5 py-3">User Role</th>
                        <th class="px-5 py-3">Email</th>
                        <th class="px-5 py-3">Status</th>
                      </tr>
                    </thead>
                    <tbody class="text-gray-500">
                      <tr *ngFor="let user of utilisateurs">
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                          <p class="whitespace-no-wrap"> {{ user.id }}</p>
                        </td>
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                          <div class="flex items-center">
                            <div class="h-10 w-10 flex-shrink-0">
                              <img class="h-full w-full rounded-full" src="../../assets/user.png" />
                            </div>
                            <div class="ml-3">
                              <p class="whitespace-no-wrap">{{ user.first_name }}  {{ user.last_name }} </p>
                            </div>
                          </div>
                        </td>
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                          <p class="whitespace-no-wrap"> {{ user.role }}</p>
                        </td>
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                          <p class="whitespace-no-wrap">{{ user.email }}</p>
                        </td>
            
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                          <span class="rounded-full bg-green-200 px-3 py-1 text-xs font-semibold text-green-900">Active</span>
                        </td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                </div>
             
              </div>
           <!--    <div class="p-4 items-center justify-between flex">
                <h1 class="text-3xl">{{'profile.title12'|translate}}</h1>
                <button *ngIf="role != 'admin'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="addUser()">
                  Ajouter utilisateur
                </button>

              </div>
                <div class="px-3 py-4 flex justify-center">
                <table class="w-full text-md bg-white shadow-md rounded mb-4">
                  <tbody>
                      <tr class="border-b">
                          <th class="text-left p-3 px-5">{{'login.title2'|translate}}</th>
                          <th class="text-left p-3 px-5">{{'login.title3'|translate}}</th>
                          <th class="text-left p-3 px-5">{{'login.title5'|translate}}</th>
                          <th class="text-left p-3 px-5">{{'login.title6'|translate}}</th>
                          <th></th>
                      </tr>
                      <tr *ngFor="let user of utilisateurs" class="border-b hover:bg-orange-100">

                        <td class="p-3 px-5">
                          <div class="bg-transparent border-b-2 border-gray-300 py-2">
                            {{ user.first_name }}
                        </div>

                        </td>
                        <td class="p-3 px-5">
                          <div class="bg-transparent border-b-2 border-gray-300 py-2">
                            {{ user.last_name }}
                        </div>

                        </td>

                        <td class="p-3 px-5">
                          <div class="bg-transparent border-b-2 border-gray-300 py-2">
                            {{ user.email }}
                        </div>

                      </td>
                      <td class="p-3 px-5">
                        <div class="bg-transparent border-b-2 border-gray-300 py-2">
                          {{ user.role }}
                      </div>
                      </td>-->
                        <!--<td class="p-3 px-5 flex justify-end">
                            <button  (click)="deleteUser(user.id)"  type="button"
                                class="mr-3 text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">{{'ajoutC1.title43'|translate}}</button>
                        </td> --><!--
                    </tr>
                  </tbody>
                </table>
              </div> -->
            </div>
          </div>

          <div class="grid my-4 justify-center">
            <div class="flex  gap-x-20 gap-y-12 px-4 py-10 lg:px-20">
              <div class="flex w-72">
                <div class="flex w-full max-w-full flex-col break-words rounded-lg border border-gray-100 bg-white text-gray-600 shadow-lg">
                  <div class="p-3">
                    <div class="absolute -mt-10 h-16 w-16 rounded-xl bg-gradient-to-tr from-gray-700 to-gray-400 text-center text-white shadow-lg">
                      <svg xmlns="http://www.w3.org/2000/svg" class="mt-4 h-7 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                    </div>
                    <div class="pt-1 text-right">
                      <p class="text-sm font-light capitalize">Total batiment</p>
                      <h4 class="text-2xl font-semibold tracking-tighter xl:text-2xl">{{this.batiments.length }}</h4>
                    </div>
                  </div>
                  <hr class="opacity-50" />
                
                </div>
              </div>
         
              <div class="flex w-72">
                <div class="flex w-full max-w-full flex-col break-words rounded-lg border border-gray-100 bg-white text-gray-600 shadow-lg">
                  <div class="p-3">
                    <div class="absolute -mt-10 h-16 w-16 rounded-xl bg-gradient-to-tr from-emerald-700 to-emerald-500 text-center text-white shadow-lg">
                      <svg xmlns="http://www.w3.org/2000/svg" class="mt-4 h-7 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                    </div>
                    <div class="pt-1 text-right">
                      <p class="text-sm font-light capitalize">Total equipements</p>
                      <h4 class="text-2xl font-semibold tracking-tighter xl:text-2xl">{{this.equipements.length }}</h4>
                    </div>
                  </div>
                  <hr class="opacity-50" />
                 
                </div>
              </div>
            </div>
        </div>

    <!--           <div class="w-full mb-4 rounded bg-gray-50 dark:bg-gray-800">
                <div class="p-4 flex">
                  <h1 class="text-3xl">{{'profile.title15'|translate}}</h1>
                </div>
                  <div class="px-3 py-4 flex justify-center">
                  <table class="w-full text-md bg-white shadow-md rounded mb-4">
                    <tbody>
                        <tr class="border-b">


                            <th class="text-left p-3 px-5">{{'ajoutC1.title3'|translate}} {{'ajoutC1.title63'|translate}}</th>

                            <th></th>
                        </tr>
                        <tr *ngFor="let user of batiments" class="border-b hover:bg-orange-100">





                          <td class="p-3 px-5">
                            <div class="bg-transparent border-b-2 border-gray-300 py-2">
                              {{ user.nomBatiment }}
                          </div>

                        </td>

                          <td class="p-3 px-5 flex justify-end">
                              <button  (click)="deleteBatiment(user.id)"  type="button"
                                  class="mr-3 text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">{{'ajoutC1.title43'|translate}}</button>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="w-full mb-4 rounded bg-gray-50 dark:bg-gray-800">
                <div class="p-4 flex">
                    <h1 class="text-3xl">{{'profile.title16'|translate}}</h1>
                </div>
                <div class="px-3 py-4 flex justify-center" style="max-height: 350px; overflow-y: auto;">
                    <table class="w-full text-md bg-white shadow-md rounded mb-4">
                        <tbody>
                            <tr class="border-b">
                                <th class="text-left p-3 px-5">{{'ajoutC1.title3'|translate}}{{'ajoutC1.title60'|translate}} </th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let user of equipements" class="border-b hover:bg-orange-100">
                                <td class="p-3 px-5">
                                    <div class="bg-transparent border-b-2 border-gray-300 py-2">
                                        {{ user.nom }}
                                    </div>
                                </td>
                                <td class="p-3 px-5 flex justify-end">
                                    <button (click)="deleteEquipement(user.id)" type="button"
                                        class="mr-3 text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            -->
        
        </div>
        <div *ngIf="errorMessage" class="success-message flex items-center justify-center fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50">
          <div class="bg-red-500 text-white font-bold rounded-lg border shadow-lg p-5">
              {{ errorMessage }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>