.grid {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 20px; /* Largeur de chaque cellule */
    height: 20px; /* Hauteur de chaque cellule */
    border: 1px solid black; /* Bordure de chaque cellule */
  }