<div class="w-8/9 max-w-screen-xl bg-white m-4 shadow-md rounded-lg ">
  <div class="flex justify-center">
    <div class="w-full">
      <div class="flex row flex-wrap g-white  px-3 py-2 mb-4">

        <div class="block py-2 px-2 w-full flex row items-center justify-between">
          <div class="text-gray-700 text-lg font-semibold">
            Consommation des équipements critiques / non critiques
          </div>
        </div>

        <div id="container" style="width:100%; height:400px;"></div>

      </div>
    </div>
  </div>
</div>

