<div *ngIf="page!='dashboard2'">
  <app-header></app-header>
  <div *ngIf="rapport" class="bg-[#ebf2ff] min-h-screen py-4" >


    <div class="w-full flex justify-start text-2xl font-medium text-gray-700 mx-8  mb-6">
      Rapport N° {{rapport.id}}
    </div>

    <div class="bg-white shadow-md rounded-lg mx-auto overflow-y-auto custom-scrollbar my-4 p-8"
      style="width: 95%">
      <div class="flow-root">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Alerte consernée</dt>
            <dd class="font-medium text-gray-700 sm:col-span-2">{{ this.rapport.alerte }}</dd>
          </div>

          <div class="py-3">
            <dt class="font-medium text-gray-900">Causes de l'alerte</dt>
            <li *ngFor="let cause of rapport.causes.split('|')" class="px-10 py-2 font-medium text-gray-700">
              {{cause}}
            </li>
          </div>

          <div class="py-3">
            <dt class="font-medium text-gray-900">Solutions proposées par le responsables de maintenance</dt>
            <li *ngFor="let solution of rapport.solutions.split('|')" class="px-10 py-2 font-medium text-gray-700">
              {{solution}}
            </li>
          </div>

          <div class="py-3">
            <dt class="font-medium text-gray-900">Risques</dt>
            <li *ngFor="let risque of rapport.risques.split('|')" class="px-10 py-2 font-medium text-gray-700">
              {{risque}}
            </li>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Equipement endommagé</dt>
            <dd class="font-medium text-gray-700 sm:col-span-2">
              <a [routerLink]="'/equipement-details/'+ equipement.id" *ngIf="equipement" class="text-blue-700 hover:underline">
                equipement n° {{this.equipement.id}} : {{this.equipement.nom}}
              </a>
            </dd>
          </div>
                <div class="py-3">
            <dt class="font-medium text-gray-900">Materiel nécessaire pour la maintenance</dt>

            <div class="grid gap-1 py-3 sm:grid-cols-3 sm:gap-4 text-gray-600">
              <div class="sm:col-span-2 grid grid-cols-1 gap-1 py-2 sm:grid-cols-2 sm:gap-4 px-10 font-medium text-gray-700" style="border-bottom: 1px #dbdbdb solid;">
                <div class="font-medium text-gray-900">Materiel</div>
                <div class="font-medium text-gray-700">Necessité</div>
              </div>
              <div class="sm:col-span-2 grid grid-cols-1 gap-1 py-3 sm:grid-cols-2 sm:gap-4 px-10 py-2 font-medium text-gray-700" style="border-bottom: 1px #dbdbdb solid;" *ngFor="let equip of rapport.equipementsDemandes.split('|'); let i = index">
                <div class="font-medium text-gray-900" *ngIf="equip!=' ' && rapport.equipementsNecessites.split('|')[i]!=' '">{{equip}}</div>
                <div class="font-medium text-gray-700" *ngIf="equip!=' ' && rapport.equipementsNecessites.split('|')[i]!=' '">{{rapport.equipementsNecessites.split('|')[i]}}</div>
              </div>
            </div>
          </div>


        </dl>
        <div *ngIf="rapport.decision">
            <dt class="font-medium text-gray-900">Decision prise</dt> <dd class="font-medium text-gray-700 sm:col-span-2">{{rapport.decision}}</dd></div>
    
      </div>

      
      <div *ngIf="rapport.decision==undefined && this.roleUser!='Responsable de maintenance'" class="space-y-4 p-10 flex flex-col items-center">
        <h2 class="text-center text-sm uppercase text-gray-600">Décision à prendre à propos de l'équipement</h2>
        
        <div *ngIf="!decisionValidated">
          <div class="relative flex items-center justify-center rounded-full bg-gray-50 px-4 py-3 font-medium text-gray-700">
            <input class="peer hidden" type="radio" name="frameworkB" id="frameworkB1" [(ngModel)]="selectedOption" value="arret" />
            <label class="peer-checked:border-orange-600 peer-checked:bg-orange-200 absolute top-0 h-full w-full cursor-pointer rounded-full border" for="frameworkB1"> </label>
            <div class="peer-checked:border-transparent peer-checked:bg-orange-600 peer-checked:ring-2 absolute left-4 h-5 w-5 rounded-full border-2 border-gray-300 bg-gray-200 ring-orange-600 ring-offset-2"></div>
            <span class="pointer-events-none z-10 ml-8">Mettre en arrêt</span>
          </div>
      
          <div class="relative flex items-center justify-center rounded-full bg-gray-50 px-4 py-3 font-medium text-gray-700">
            <input class="peer hidden" type="radio" name="frameworkB" id="frameworkB2" [(ngModel)]="selectedOption" value="reparer" />
            <label class="peer-checked:border-sky-500 peer-checked:bg-sky-200 absolute top-0 h-full w-full cursor-pointer rounded-full border" for="frameworkB2"> </label>
            <div class="peer-checked:border-transparent peer-checked:bg-sky-500 peer-checked:ring-2 absolute left-4 h-5 w-5 rounded-full border-2 border-gray-300 bg-gray-200 ring-sky-500 ring-offset-2"></div>
            <span class="pointer-events-none z-10">Réparer l'équipement</span>
          </div>
      
          <div class="relative flex items-center justify-center rounded-full bg-gray-50 px-6 py-3 font-medium text-gray-700">
            <input class="peer hidden" type="radio" name="frameworkB" id="frameworkB3" [(ngModel)]="selectedOption" value="remplacer" />
            <label class="peer-checked:border-emerald-400 peer-checked:bg-emerald-200 absolute top-0 h-full w-full cursor-pointer rounded-full border" for="frameworkB3"> </label>
            <div class="peer-checked:border-transparent peer-checked:bg-emerald-400 peer-checked:ring-2 absolute left-4 h-5 w-5 rounded-full border-2 border-gray-300 bg-gray-200 ring-emerald-400 ring-offset-2"></div>
            <span class="pointer-events-none z-10 ml-8">Remplacer par un autre équipement</span>
          </div>
      
          <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="validateChoice()">Valider le choix</button>
        </div>
      
        <div *ngIf="decisionValidated" class="text-lg font-semibold text-blue-600">
          Décision précise : {{ selectedOption === 'arret' ? 'Mettre en arrêt' : selectedOption === 'reparer' ? 'Réparer l\'équipement' : 'Remplacer par un autre équipement' }}
        </div>
      </div>
      
      
      
</div>


    </div>

  </div>

