<div *ngIf="isLoggedIn">

  <section class="bg-[#ebf2ff]">

    <div class="w-full flex justify-start text-2xl font-medium text-gray-700 mx-8 mt-4 mb-6" >
      {{'ajoutC1.title19' | translate}} {{etageId}} - Batiment 
    </div>

    <div class="bg-white shadow-md rounded-lg mx-auto overflow-y-auto custom-scrollbar my-4 p-8" style="width: 95%">

      <div class="flow-root">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">

          <div class="mx-auto max-w-screen-xl">

            <div class="">

              <form action="#" class="w-3/5">
                <!--Nom-->
                <div class="flex w-full">
                  <div class="w-full">
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900 ">{{'ajoutC1.title21' | translate}}</label>
                    <input [(ngModel)]="nomLocal" name="nomLocal" placeholder="" type="text" id="nom"
                      class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
                  </div>
                </div>

                <!--Type-->
                <div class="flex w-full">
                  <div class="w-full">
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900 ">{{'ajoutC1.title22' | translate}}</label>
                    <input [(ngModel)]="typeLocal" placeholder="" type="text" id="typeLocal" name="typeLocal"
                      class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
                  </div>
                </div>

                <!--Température-->
                <div class="flex w-full">
                  <div class="w-full">
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900 ">Préciser les seuils de température dans ce
                      local (°C)</label>
                    <div class="flex gap-6 items-center justify-between">
                      <div class="flex items-center gap-6">
                        <label for="" class="block mb-2 text-sm font-medium text-gray-500 " style="min-width: fit-content;">De
                          :</label>
                        <input [(ngModel)]="temperatureMin" placeholder="" type="number" id="tempMin" name="tempMin"
                          class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
                      </div>
                      <div class="flex items-center gap-6">
                        <label for="" class="block mb-2 text-sm font-medium text-gray-500 " style="min-width: fit-content;">à
                          :</label>
                        <input [(ngModel)]="temperatureMax" placeholder="" type="number" id="tempMax" name="tempMax"
                          class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
                      </div>
                    </div>
                  </div>
                </div>

                <!--Humidité-->
                <div class="flex w-full">
                  <div class="w-full">
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900 ">Préciser les seuils d'humidité dans ce
                      local (%)</label>
                    <div class="flex gap-6 items-center justify-between">
                      <div class="flex items-center gap-6">
                        <label for="" class="block mb-2 text-sm font-medium text-gray-500 " style="min-width: fit-content;">De
                          :</label>
                        <input [(ngModel)]="humiditeMin" placeholder="" type="number" id="humiditeMin" name="humiditeMin"
                          class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
                      </div>
                      <div class="flex items-center gap-6">
                        <label for="" class="block mb-2 text-sm font-medium text-gray-500 " style="min-width: fit-content;">à
                          :</label>
                        <input [(ngModel)]="humiditeMax" placeholder="" type="number" id="humiditeMax" name="humiditeMax"
                          class="my-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 -700 hover:shadow-md">
                      </div>
                    </div>
                  </div>
                </div>


                <div class="mt-4 flex justify-between">
                  <button type="button" (click)="goBack()"
                    class="hover:shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 "
                    style="color: white; background-image: linear-gradient(109.6deg, rgb(138, 89, 226) -19.8%, rgb(87, 27, 226) 91.7%);"
                  >
                    <i class="fa-solid fa-chevron-left mr-2"></i>
                    <span> {{'ajoutC1.title26' | translate}}</span>
                  </button>
                  <button type="submit" (click)="ajouterZone()"
                    class="text-white border border-blue-500 bg-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    style="color: white; background-image: linear-gradient(109.6deg, rgb(138, 89, 226) -19.8%, rgb(87, 27, 226) 91.7%);">
                    {{'ajoutC1.title12' | translate}}
                  </button>
                </div>
              </form>
            </div>


          </div>

        </dl>
      </div>

    </div>

    <!--style="background-image: url('assets/Medical-Devices.jpg');"-->

  </section>
</div>

