<div *ngIf="!equipementDetails">
  <p>  {{'ajoutC1.title27' | translate}} </p>
</div>

<div *ngIf="isLoggedIn" class="mx-6">


  <div *ngIf="equipementDetails">
    <div class="w-full flex justify-center">
      <div class="relative inline-block my-12 text-center">
        <span class="text-2xl md:text-2xl font-bold">
          {{'ajoutC1.title28' | translate}} {{equipementDetails.id}}
        </span>
        <span class="mt-6 absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-blue-500 via-blue-400 to-green-500 rounded-full"></span>
      </div>
    </div>

    <div class="flow-root m-6" *ngIf="equipementDetails">
      <dl class="-my-3 divide-y divide-gray-100 text-sm">
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">  {{'ajoutC1.title3' | translate}} </dt>
          <dd class="font-medium text-gray-700 sm:col-span-2">{{ equipementDetails.nom }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">  {{'ajoutC1.title29' | translate}} </dt>
          <dd class="font-medium m:col-span-2 text-gray-700 ">
            <span *ngIf="equipementDetails.etat=='OFF'" class="px-3 py-1 text-xs text-red-600 bg-red-100 rounded-full"> {{'ajoutC1.title30' | translate}}</span>
            <span *ngIf="equipementDetails.etat=='ON'" class="px-3 py-1 text-xs text-green-600 bg-green-100 rounded-full"> {{'ajoutC1.title31' | translate}}</span>
          </dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">{{'ajoutC1.title32' | translate}}</dt>
          <dd class="font-medium m:col-span-2 text-gray-700 ">
            <span *ngIf="equipementDetails.categorie!='normal'" class="">{{'ajoutC1.title34' | translate}}</span>
            <span *ngIf="equipementDetails.categorie=='normal'" class="">{{'ajoutC1.title35' | translate}}</span>
          </dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-4 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">{{'ajoutC1.title36' | translate}}</dt>
          <dd class="font-medium m:col-span-2 text-gray-700 ">{{equipementDetails.puissance}} W</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-4 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">{{'ajoutC1.title37' | translate}}</dt>
          <dd class="font-medium col-span-2 text-gray-700 ">
            <div style="display: flex; align-items:center; justify-content: flex-start;" *ngIf="equipementInfos">
              <span>{{equipementInfos.batiment}}</span><i class="fa-solid fa-chevron-right fa-sm mx-2"></i>
              <span>{{'ajoutC1.title17' | translate}} {{equipementInfos.numEtage}} : {{equipementInfos.nomEtage}} </span><i class="fa-solid fa-chevron-right fa-sm mx-2"></i>
              <span>{{equipementInfos.typeLocal}} {{equipementInfos.localId}} : {{equipementInfos.nomLocal}} </span>
            </div>
          </dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-4 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">
            <button (click)="redirectToModifierEquipement()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              {{'ajoutC1.title38' | translate}}
            </button>

          </dt>
        </div>


        <div class="grid grid-cols-1 gap-1 py-4 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900"></dt>
          <dd class="font-medium:col-span-2"></dd>
        </div>

      </dl>
    </div>
    <!-- Ajoutez d'autres détails de la zone ici selon vos besoins -->
  </div>


  <section class="container px-4 mx-auto flex items-center w-full">
    <div id="columns-container" style="width: 60%" class=" shadow-xl"></div>
    <div  id="afficheur-consommation" class="p-8 ml-16 flex justify-center items-center cons-totale shadow-md" style="width: 250px;">
      <div class="text-5xl text-gray-200 text-bold py-2 cons-totale-titre  flex justify-center"  *ngIf="equipementDetails">{{'ajoutC1.title39' | translate}} :</div>
      <div class="text-5xl text-gray-200 py-4 cons-totale-val flex justify-center">{{this.consommation_annuelle_totale.toFixed(2)}} kWh</div>
    </div>
  </section>
  <div *ngIf="rapports.length > 0" class="overflow-hidden shadow-md md:rounded-lg">
    <table class="table min-w-full">
        <thead>
            <tr>
                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 ">
                    <div class="flex items-center gap-x-2">
<!--                           <input type="checkbox" class="text-blue-500 border-gray-300 rounded cursor-pointer">-->
                      <span>{{'ajoutC1.title3'|translate}}</span>
                    </div>
                </th>

                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                  <div class="flex items-center gap-x-2">
                      <span>{{'ajoutC1.title29'|translate}}</span>
                  </div>
                </th>
                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                  <div class="flex items-center gap-x-2">
                    <span>{{'ajoutC1.title7'|translate}}</span>
                  </div>
              </th>
                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">
                    <div class="flex items-center gap-x-2">
                       <!--  <span>{{'ajoutC1.title7'|translate}}</span> -->
                       <span>Catégorie</span>
                    </div>
                </th>
                
                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 ">
                    <div class="flex items-center gap-x-2">
                        <span>{{'ajoutC1.title8'|translate}}</span>
                    </div>
                </th>
              <!--   <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 ">
                  <div class="flex items-center gap-x-2">
                      <span>{{'Filtrer par :'|translate}}</span>
              
                    
                      <select [(ngModel)]="typeFiltre" (change)="filtrerEquipements()">
                          <option value="">{{'Type'|translate}}</option>
                          <option *ngFor="let type of types" [value]="">{{ type }}</option>
                      </select>
              
                    
                      <select [(ngModel)]="categorieFiltre" (change)="filtrerEquipements()">
                          <option value="">{{'Catégorie'|translate}}</option>
                          <option *ngFor="let categorie of categories" [value]="">{{ categorie }}</option>
                      </select>
              
                 
                      <select [(ngModel)]="etatFiltre" (change)="filtrerEquipements()">
                          <option value="">{{'État'|translate}}</option>
                          <option *ngFor="let etat of etats" [value]="">{{ etat }}</option>
                      </select>
                  </div>
              </th> -->

             <!--    <th scope="col" class="relative py-3.5 px-4">
                    <span class="sr-only">{{'ajoutC1.title38'|translate}}</span>
                </th>

                <th scope="col" class="relative py-3.5 px-4">
                  <span class="sr-only">{{'ajoutC1.title43'|translate}}</span>
                </th> -->

                <th scope="col" class="relative py-3.5 px-4">
                  <span class="sr-only">{{'ajoutC1.title44'|translate}}</span>
                </th>
            </tr>
        </thead>
        <tbody class="bg-white">
          <span *ngIf="rapports.length === 0">Aucun rapport trouvé.</span>
          <tr *ngFor="let equipement of rapports" class="even:bg-gray-50 w-full">

            <td class="px-4 py-4 text-sm font-medium text-gray-700" style="width: 35%;">
              <div class="inline-flex items-center gap-x-3">
                <!-- <input type="checkbox" class="text-blue-500 border-gray-300 rounded cursor-pointer"> -->
                  <span>{{ equipement.alerte }}</span>
              </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium text-gray-700" style="width: 35%;">
              <div class="inline-flex items-center gap-x-3">
                <!-- <input type="checkbox" class="text-blue-500 border-gray-300 rounded cursor-pointer"> -->
                  <span>{{ equipement.redacteur }}</span>
              </div>
            </td>
          
            <td class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right">
              <div class="inline-flex items-center gap-x-3">
                  {{equipement.solutions}}
              </div>
            </td>
            <td class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right">
              <div class="inline-flex items-center gap-x-3">
                  {{equipement.dateRapport}}
              </div>
            </td>

            <td class="px-12 py-3.5  text-sm font-medium text-gray-700 text-left rtl:text-right">
              <div class="inline-flex items-center gap-x-3">
                  {{equipement.risque}} 
              </div>
            </td>

            <td class="row">
             <!--  <span class="text-xs cursor-pointer mx-4" style="color: #3b72f6;" (click)="updateEquipement(equipement.id)">{{'ajoutC1.title38'|translate}}
                <i class="fa-solid fa-pen fa-xs ml-1"></i>
              </span>
              <span class="text-xs cursor-pointer mx-4" style="color: #e30000;" (click)="deleteEquipement(equipement.id)">{{'ajoutC1.title43'|translate}}
                <i class="fa-solid fa-trash fa-xs ml-1"></i>
              </span> -->
              <span class=" cursor-pointer text-xs mx-4" style="color: #6b7280;" (click) = "redirectToRapportDetails(equipement.id)">{{'ajoutC1.title44'|translate}}
                <i class="fa-solid fa-bars fa-ws ml-1"></i>
              </span>
            </td>
          </tr>
         
        </tbody>
    </table>
</div>


</div>