.cons-totale {
  flex-direction: column;
  border: 2px #edf5f9 solid;
  border-radius: 10%;
  background-color: #ebf2ff;
}

.cons-totale-titre {
  color: #424b5b;
  font-weight: bolder;
  font-size: large;
  width: 100%;
}

.cons-totale-val {
  color: #2caffe !important;
  font-weight: bolder;
  font-size: xx-large;
  width: 100%;
}